#### 1. 라이브러리 호출

In [248]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

#### 2. 데이터 불러오기

In [249]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submission = pd.read_csv('sample_submission.csv')

#### 3. 데이터 확인하기

In [250]:
train.head(5)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,target
0,1,Female,disloyal Customer,22,Business travel,Eco,1599,3,0,3,...,4,5,4,4,4,5,4,0,0.0,0
1,2,Female,Loyal Customer,37,Business travel,Business,2810,2,4,4,...,5,5,4,2,1,5,2,18,18.0,0
2,3,Male,Loyal Customer,46,Business travel,Business,2622,1,1,1,...,4,4,4,4,5,4,3,0,0.0,1
3,4,Female,disloyal Customer,24,Business travel,Eco,2348,3,3,3,...,3,2,4,5,3,4,3,10,2.0,0
4,5,Female,Loyal Customer,58,Business travel,Business,105,3,3,3,...,4,4,4,4,4,4,5,0,0.0,1

In [251]:
# 데이터 정보확인
train.dtypes

id                                     int64
Gender                                object
Customer Type                         object
Age                                    int64
Type of Travel                        object
Class                                 object
Flight Distance                        int64
Seat comfort                           int64
Departure/Arrival time convenient      int64
Food and drink                         int64
Gate location                          int64
Inflight wifi service                  int64
Inflight entertainment                 int64
Online support                         int64
Ease of Online booking                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Cleanliness                            int64
Online boarding                        int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
target                                 int64
dtype: object

In [252]:
train['target'].value_counts()

target
1    1668
0    1332
Name: count, dtype: int64

In [253]:
train.isna().sum()
test.isna().sum()

id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Seat comfort                         0
Departure/Arrival time convenient    0
Food and drink                       0
Gate location                        0
Inflight wifi service                0
Inflight entertainment               0
Online support                       0
Ease of Online booking               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Cleanliness                          0
Online boarding                      0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
dtype: int64

#### 4. 데이터 전처리

In [254]:
# 범주형 데이터 전처리
from sklearn.preprocessing import LabelEncoder

labelencoder_list = ['Gender', 'Customer Type', 'Type of Travel', 'Class']

encoder = LabelEncoder()

for columns in labelencoder_list:
    train[columns] = encoder.fit_transform(train[columns])
    test[columns] = encoder.fit_transform(test[columns])

In [255]:
# 수치형 데이터 정규화
from sklearn.preprocessing import StandardScaler

scaler_list = ['Flight Distance', 'Departure Delay in Minutes', 'Arrival Delay in Minutes']

scaler = StandardScaler()

for column in scaler_list:
    train[[column]] = scaler.fit_transform(train[[column]])
    test[[column]] = scaler.fit_transform(test[[column]])

In [256]:
test = test.drop(['id'], axis=1)

#### 5.데이터 모델링

In [257]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

# 독립변수, 종속변수 선정
X = train.drop(['id', 'target'], axis=1)
y = train['target']


# train, test 데이터 split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

# 모델 선정
model = DecisionTreeClassifier()
model.fit(X_train,y_train)

# 모델 예측
prediction_train = model.predict(X_test)
prediction_test = model.predict(test)

# 결과 출력
print(accuracy_score(y_test, prediction_train))

0.8716666666666667

#### 6. Submission 파일 저장

In [258]:
submission['target'] = prediction_test
submission.to_csv('submission.csv', index=False)