#### 1. 데이터 불러오기

In [13]:
# 실습용 임의 데이터셋 불러오기
import pandas as pd
from sklearn.datasets import load_iris

# Iris 데이터셋 불러오기
iris = load_iris()

# 데이터프레임으로 변환
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

#### 2. 결측치 확인

In [15]:
# 컬럼별 결측치 개수 확인
df.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

#### 3. 최반값 출력

In [19]:
# 최빈값 출력하기
mode = df['petal length (cm)'].mode()
mode

0    1.4
1    1.5
Name: petal length (cm), dtype: float64

#### 4. 결측치 채우기

In [21]:
# 결측치 처리
df['petal length (cm)'] = df['petal length (cm)'].fillna(mode)
df['petal length (cm)']

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal length (cm), Length: 150, dtype: float64

#### 5. 모든 행이 같은 중복 확인하기

In [31]:
# duplicated를 이용한 중복 제거
df_duplicated = df[df.duplicated()]
df_duplicated

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
142                5.8               2.7                5.1               1.9

#### 6. 중복되는 행 제거하기

In [35]:
# axis=0을 통한 인덱스 제거
df_duplicated_index = df_duplicated.index
df = df.drop(df_duplicated_index, axis=0)