#### 1. 데이터 생성하기

In [2]:
import pandas as pd

# 주어진 리스트들
names = ['철수', '영희', '민수', '지영', '수민', '호철', '민지']
ages = [25, 30, 35, 28, 22, 21, 20]
genders = ['남', '여', '남', '여', '남', '남', '여']
cities = ['서울', '부산', '서울', '대전', '제주', '부산', '강원']

# 리스트들을 딕셔너리로 묶기
data = {'이름': names, '나이': ages, '성별': genders, '도시': cities}

# 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(data)
df

   이름  나이 성별  도시
0  철수  25  남  서울
1  영희  30  여  부산
2  민수  35  남  서울
3  지영  28  여  대전
4  수민  22  남  제주
5  호철  21  남  부산
6  민지  20  여  강원

#### 2. 열 이름

In [3]:
df.columns

Index(['이름', '나이', '성별', '도시'], dtype='object')

#### 3. 인덱스

In [10]:
df.index

RangeIndex(start=0, stop=7, step=1)

#### 4. 데이터값

In [12]:
df.values

array([['철수', 25, '남', '서울'],
       ['영희', 30, '여', '부산'],
       ['민수', 35, '남', '서울'],
       ['지영', 28, '여', '대전'],
       ['수민', 22, '남', '제주'],
       ['호철', 21, '남', '부산'],
       ['민지', 20, '여', '강원']], dtype=object)

#### 5. 변수 타입

In [13]:
df.dtypes

이름    object
나이     int64
성별    object
도시    object
dtype: object

#### 6. 데이터 앞부분 / 뒷부분 확인하기

In [14]:
df.head()

   이름  나이 성별  도시
0  철수  25  남  서울
1  영희  30  여  부산
2  민수  35  남  서울
3  지영  28  여  대전
4  수민  22  남  제주

In [15]:
df.tail()

   이름  나이 성별  도시
2  민수  35  남  서울
3  지영  28  여  대전
4  수민  22  남  제주
5  호철  21  남  부산
6  민지  20  여  강원

#### 7. 데이터프레임 정보 확인하기

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      7 non-null      object
 1   나이      7 non-null      int64
 2   성별      7 non-null      object
 3   도시      7 non-null      object
dtypes: int64(1), object(3)
memory usage: 352.0+ bytes

#### 8. 데이터프레임 형태 확인하기

In [18]:
df.shape

(7, 4)

#### 9. 데이터프레임 길이 확인하기

In [19]:
len(df)

7

#### 10. 데이터 크기 확인하기

In [21]:
df.size

28

#### 11. 데이터프레임 통계값 확인하기

In [22]:
df.describe()

              나이
count   7.000000
mean   25.857143
std     5.459810
min    20.000000
25%    21.500000
50%    25.000000
75%    29.000000
max    35.000000