#### 1. 데이터 생성하기

In [2]:
import pandas as pd

# 딕셔너리로 생성하기
data_dict = {
    '이름': ['홍길동', '김철수', '이영희', '박지원', '장민주', '신동호', '김민지', '이하늘', '정승우', '한지혜'],
    '나이': [25, 30, 28, 22, 29, 27, 24, 26, None, 23],
    '성별': ['남', '남', '여', '남', '여', '남', '여', '여', None, '여']
}

df = pd.DataFrame(data_dict)
df.index = [1,2,3,4,5,6,7,8,9,10]
df

     이름    나이    성별
1   홍길동  25.0     남
2   김철수  30.0     남
3   이영희  28.0     여
4   박지원  22.0     남
5   장민주  29.0     여
6   신동호  27.0     남
7   김민지  24.0     여
8   이하늘  26.0     여
9   정승우   NaN  None
10  한지혜  23.0     여

#### 2. 레이블 기반 인덱싱

In [4]:
first_row = df.loc[1]
first_row

이름     홍길동
나이    25.0
성별       남
Name: 1, dtype: object

#### 3. 특정 컬럼의 레이블 기반 인덱싱
###### 인덱스가 1인 열 중에서, '나이' 컬럼만 추출해 봅시다.
###### 빈칸에 '나이'를 넣어 실행해 보세요.

In [5]:
age_of_2nd_person = df.loc[1, '나이']
age_of_2nd_person

25.0

#### 4. 레이블 기반 슬라이싱
###### df에서 인덱스 1부터 ~ 3까지 추출해 봅시다.
###### 대괄호([]) 안에 1:3을 입력해 보세요.

In [8]:
rows = df.loc[1:3]
rows

    이름    나이 성별
1  홍길동  25.0  남
2  김철수  30.0  남
3  이영희  28.0  여

#### 5. 특정 컬럼의 레이블 기반 슬라이싱
###### '나이' 컬럼에서 인덱스가 1부터3까지 데이터를 추출해 봅시다.

In [14]:
rows = df.loc[1:3, '나이']
rows

1    25.0
2    30.0
3    28.0
Name: 나이, dtype: float64

#### 6. 정수 위치 기반 인덱싱
###### iloc[]함수를 사용해 df에서 0번째 행을 추출해 'first_row'에 저장해 봅시다

In [15]:
first_row = df.iloc[0]
first_row

이름     홍길동
나이    25.0
성별       남
Name: 1, dtype: object

#### 7. 특정 컬럼의 레이블 기반 인덱싱
###### iloc[]함수를 사용해 df에서 인덱스가 0인 행과, 인덱스가 0인 열을 추출해 'first_row'에 저장해 봅시다

In [17]:
first_row = df.iloc[0, 0]
first_row

'홍길동'

#### 8. 정수 위치 기반 슬라이싱
###### iloc[]함수를 사용해 df에서 정수형 인덱스가 0부터 3이전까지의 행을 추출해 'subset'에 저장해 봅시다

In [19]:
# 행 범위로 슬라이싱
subset = df.iloc[0:3]
subset

    이름    나이 성별
1  홍길동  25.0  남
2  김철수  30.0  남
3  이영희  28.0  여

#### 9. 특정 컬럼의 정수 위치 기반 슬라이싱
###### 0번째 컬럼에서, 0부터 3이전까지의 행을 추출해 rows에 저장하세요.

In [20]:
# 행 범위로 슬라이싱
rows = df.iloc[0:3, 0]
rows

1    홍길동
2    김철수
3    이영희
Name: 이름, dtype: object