#### 1. 데이터 생성하기

In [1]:
import pandas as pd

data_dict = {
    '이름': ['홍길동', '김철수', '이영희', '박지원', '장민주', '신동호', '김민지', '이하늘', '정승우', '한지혜'],
    '나이': [25, 30, 28, 22, 29, 27, 24, 26, None, 23],
    '성별': ['남', '남', '여', '남', '여', '남', '여', '여', None, '여']
}
df = pd.DataFrame(data_dict)
df.index = [1,2,3,4,5,6,7,8,9,10]
df

     이름    나이    성별
1   홍길동  25.0     남
2   김철수  30.0     남
3   이영희  28.0     여
4   박지원  22.0     남
5   장민주  29.0     여
6   신동호  27.0     남
7   김민지  24.0     여
8   이하늘  26.0     여
9   정승우   NaN  None
10  한지혜  23.0     여

#### 2. 필터링할 조건 만들기
###### '나이'가 28살 이상인지 여부에 대한 불리언 값들의 시리즈를 생성해 봅시다.

In [4]:
is_above_28_series = df['나이'] >= 28
is_above_28_series

1     False
2      True
3      True
4     False
5      True
6     False
7     False
8     False
9     False
10    False
Name: 나이, dtype: bool

#### 3. 조건을 이용한 필터링1
###### df에서 나이가 28살 이상인 사람의 데이터를 추출해 봅시다.

In [10]:
above_28_df = df[df['나이'] >= 28]
above_28_df

    이름    나이 성별
2  김철수  30.0  남
3  이영희  28.0  여
5  장민주  29.0  여

#### 4. 조건을 이용한 필터링2
###### Series.isin()함수를 이용해 이름이 '홍길동', '김철수'인 사람을 추출해 보세요.

In [15]:
filtered_df = df[df['이름'].isin(['홍길동', '김철수'])]
filtered_df

    이름    나이 성별
1  홍길동  25.0  남
2  김철수  30.0  남

#### 5. 조건을 이용한 필터링3
###### Series.str.contains()함수를 이용해 이름이 '지원'인 사람을 필터링하세요.

In [20]:
filtered_df = df[df['이름'].str.contains('지원')]
filtered_df

    이름    나이 성별
4  박지원  22.0  남

#### 6. AND 조건을 이용한 필터링
###### df에서 나이가 25 초과이고, 성별이 남자인 데이터를 추출해 보세요.

In [53]:
age_above_25_and_male = df[ (df['나이'] > 25) & (df['성별'] == '남') ]
age_above_25_and_male

    이름    나이 성별
2  김철수  30.0  남
6  신동호  27.0  남

#### 7. OR 조건을 이용한 필터링
###### df에서 나이가 25 초과 또는, 성별이 여자인 데이터를 추출해 보세요

In [57]:
age_above_25_or_female = df[(df['나이'] > 25) | (df['성별'] == '여')]
age_above_25_or_female

     이름    나이 성별
2   김철수  30.0  남
3   이영희  28.0  여
5   장민주  29.0  여
6   신동호  27.0  남
7   김민지  24.0  여
8   이하늘  26.0  여
10  한지혜  23.0  여

#### 8. Not을 이용한 필터링

In [58]:
not_male = df[df['성별'] != '남']
not_male

     이름    나이    성별
3   이영희  28.0     여
5   장민주  29.0     여
7   김민지  24.0     여
8   이하늘  26.0     여
9   정승우   NaN  None
10  한지혜  23.0     여

#### 9. 데이터프레임 필터링 연습문제(1)
###### 성적이 85 이상이고, 이름이 '지수'인 사람을 추출해 filtered_df에 저장해 봅시다.

In [65]:
data = {'이름': ['홍철수', '김영지', '이민수', '박지영', '박지수', '박지수', '신지수'],
        '나이': [25, 30, 35, 28, 29, 30, 15],
        '성적': [80, 90, 75, 85, 95, 60, 85]}

df = pd.DataFrame(data)
filtered_df = df[(df['성적'] >= 85) & (df['이름'].str.contains('지수'))]
filtered_df

    이름  나이  성적
4  박지수  29  95
6  신지수  15  85

#### 10. 데이터프레임 필터링 연습문제(2)
###### 성적이 85 이상이거나 나이가 30 이상인 학생들 중에서, 이름이 '김'이 아닌 학생들을 필터링하세요.

In [72]:
data = {'이름': ['홍철수', '김영지', '이민수', '박지영', '신지수', '김지원'],
        '나이': [25, 30, 35, 28, 29, 27],
        '성적': [80, 90, 75, 85, 95, 70]}

df = pd.DataFrame(data)

filtered_df = df[((df['성적'] >= 85) | (df['나이'] >= 30)) & (~df['이름'].str.contains('김'))]
filtered_df

    이름  나이  성적
2  이민수  35  75
3  박지영  28  85
4  신지수  29  95

#### 11. 데이터프레임 필터링 연습문제
###### 나이가 5살 이상이거나 몸무게가 20kg그램 이하인 동물 중에서 종이 강아지인 데이터를 필터링 하세요.

In [76]:
data = {'이름': ['뽀삐', '미미', '톰', '맥스', '멍멍'],
        '종': ['강아지', '고양이', '고양이', '토끼', '강아지'],
        '나이': [3, 4, 7, 1, 6],
        '몸무게(kg)': [25, 4, 3, 2, 18]}

df = pd.DataFrame(data)
filtered_df = df[((df['나이']>=5) | (df['몸무게(kg)']<=20)) & (df['종'] == '강아지')]
filtered_df

   이름    종  나이  몸무게(kg)
4  멍멍  강아지   6       18