#### 1. Pandas 호출하기

In [2]:
import pandas as pd

#### 2. 리스트로 시리즈 생성하기

In [3]:
data = [10, 20, 30, 40, 50]
series1 = pd.DataFrame(data)

print(series1)
print(type(series1))

    0
0  10
1  20
2  30
3  40
4  50
<class 'pandas.core.frame.DataFrame'>

#### 3. 배열로 시리즈 생성하기

In [7]:
import numpy as np

data = [10, 20, 30, 40, 50]
np_data = np.array(data)
print('배열의 타입:', type(np_data))

series2 = pd.Series(np_data)
print(series2)

배열의 타입: <class 'numpy.ndarray'>
0    10
1    20
2    30
3    40
4    50
dtype: int32

#### 4. 딕셔너리로 생성하기

In [9]:
data_dict = {
    'a': 10,
    'b': 20,
    'c': 30,
    'd': 40,
    'e': 50
}

series3 = pd.Series(data_dict)
print(series3)

a    10
b    20
c    30
d    40
e    50
dtype: int64

#### 5. 시리즈 이름 정해주기

In [13]:
data = [10, 20, 30, 40, 50]
series = pd.Series(data, name='MySeries')
series

0    10
1    20
2    30
3    40
4    50
Name: MySeries, dtype: int64

#### 6. 데이터 타입 정해주기

In [15]:
data = [10, 20, 30, 40, 50]
series = pd.Series(data, name='MySeries', dtype='float')
series

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
Name: MySeries, dtype: float64

#### 7. 인덱스 정해주기

In [17]:
data1 = [1, 2, 3, 4]
index = ['a', 'b', 'c', 'd']

series = pd.Series(data1, index=index, name='MySeries', dtype='float64')
series

a    1.0
b    2.0
c    3.0
d    4.0
Name: MySeries, dtype: float64

#### 8. 복습문제1
###### 빈칸을 채워 리스트로 시리즈를 생성하세요. 이름은 '과일 시리즈', 데이터 타입은 'object'로 만들어 주세요.

In [18]:
data = ['사과', '바나나', '체리', '딸기', '포도']

# 시리즈 생성
fruit_series = pd.Series(data, name='과일 시리즈', dtype='object')
fruit_series

0     사과
1    바나나
2     체리
3     딸기
4     포도
Name: 과일 시리즈, dtype: object

#### 9. 복습문제2
###### 넘파이(Numpy) 배열로 시리즈를 생성해 봅시다.
###### 생성한 시리즈는 integer_series변수에 담아주세요.

In [21]:
import pandas as pd
import numpy as np

data = np.array([25, 50, 75, 100, 125])

# 시리즈 생성
integer_series = pd.Series(data)
integer_series

0     25
1     50
2     75
3    100
4    125
dtype: int32

#### 10. 복습문제3
###### 딕셔너리 데이터로 배열로 시리즈를 생성해 봅시다.
###### 생성한 시리즈는 fruit_series변수에 담아주세요.

In [22]:
data = {'사과': 10, '바나나': 20, '체리': 30, '딸기': 40, '포도': 50}

# 시리즈 생성
fruit_series = pd.Series(data)
fruit_series

사과     10
바나나    20
체리     30
딸기     40
포도     50
dtype: int64