#### 1. 시리즈 생성하기

In [1]:
import pandas as pd

data = [1, 2, 3, 4, 5]
series = pd.Series(data)

#### 2. apply 메서드

In [2]:
def custom_function(x):
    # 사용자 정의 함수의 내용을 작성
    if x >= 3:
        result = x + 2
    else:
        result = x + 4
    return result

result_series = series.apply(custom_function)
result_series

0    5
1    6
2    5
3    6
4    7
dtype: int64

#### 3. apply 메서드와 lambda 함수

In [4]:
result_series = series.apply(lambda x: x + 2 if x >= 3 else x + 4)
result_series

0    5
1    6
2    5
3    6
4    7
dtype: int64

#### 4. map 메서드

In [6]:
result_series = series.map(lambda x: x ** 2)
result_series

0     1
1     4
2     9
3    16
4    25
dtype: int64

#### 5. replace 메서드
###### 과일로 구성된 시리즈를 만드세요. 그리고 시리즈에서 'banana'값을 'orange'값으로 대체해 result_series에 저장해 봅시다.

In [7]:
data = ['apple', 'banana', 'cherry']
series = pd.Series(data)

# 'banana'를 'orange'로 대체
result_series = series.replace('banana', 'orange')
result_series

0     apple
1    orange
2    cherry
dtype: object

#### 6. replace 함수2
###### 'banana'를 'orange', 'apple'을 'strawberry'로 대체하세요

In [8]:
replace_dict = {'banana': 'orange', 'apple': 'strawberry'}
result_series = series.replace(replace_dict)
result_series

0    strawberry
1        orange
2        cherry
dtype: object

#### 7. replace 함수3
###### a로 시작하는 값을 fruit으로 변경

In [10]:
result_series = series.replace('^a', 'fruit', regex=True)
result_series

0    fruitpple
1       banana
2       cherry
dtype: object

#### 8. cut() 함수
###### 0초과~30이하는 low, 30초과 60이하는 High로 값을 변경해 봅시다

In [11]:
data = [10, 20, 30, 40, 50]
series = pd.Series(data)

# 구간을 정의합니다.
bins = [0, 30, 60]

# 라벨을 만들어줍니다.
labels = ['Low', 'High']

# cut 함수를 사용하여 값을 나눕니다.
result_series = pd.cut(series, bins, labels=labels)
result_series

0     Low
1     Low
2     Low
3    High
4    High
dtype: category
Categories (2, object): ['Low' < 'High']

#### 9. apply 메서드 연습문제
###### 시리즈에서 홀수값을 찾아 제곱한 값을 구하고, 짝수값은 그대로 반환하는 함수를 작성하세요. 
###### 그리고 apply 함수를 사용하여 시리즈를 변환해 result_series에 값을 저장하세요.

In [15]:
data = [1, 2, 3, 4, 5, 6]
series = pd.Series(data)

def square_odd_or_return_even(x):
    if x%2 == 0:
        return x
    else:
        return x**2
# apply 함수를 사용하여 시리즈를 변환
result_series = series.apply(square_odd_or_return_even)
result_series

0     1
1     2
2     9
3     4
4    25
5     6
dtype: int64

#### 10. map 메서드 연습문제
###### 주어진 시리즈에서 3의 배수를 찾아서 그 값을 2배로 만들고, 3의 배수가 아닌경우 중에서 4의 배수는 3배로 만들어 줍니다. 
###### 3의 배수도, 4의 배수도 아닌경우에는 그대로 출력하는 새로운 시리즈를 생성하세요.

In [17]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(data)

def custom_function(x):
    if x % 3 == 0:
        return x*2
    else:
        if x % 4 ==0:
            return x*3
        else:
            return x

result_series = series.apply(custom_function)
result_series

0     1
1     2
2     6
3    12
4     5
5    12
6     7
7    24
8    18
9    10
dtype: int64

#### 11. replace 메서드 연습문제
###### 시리즈에서 특정 값을 다른 값으로 교체해보세요.
###### replace 함수를 사용하여 시리즈에서 30을 35로, 40을 45로 교체하세요.
###### 변환된 값을 포함하는 새로운 시리즈를 생성하세요.

In [18]:
data = [10, 20, 30, 40, 50, 60]
series = pd.Series(data)

# replace 함수를 사용하여 값을 교체
result_series = series.replace(30,35,40,)
result_series

0    10
1    20
2    35
3    40
4    50
5    60
dtype: int64